*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: url(gelik.jpg) no-repeat;
    background-size: cover;
    box-sizing: border-box;   
}

.header{
    background: #202020;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-family: sans-serif;
    height: 100px;
}

.navbar ul{
    display: inline;
    padding: 15px;
}

.navbar ul a{
    text-decoration: none;
    display: inline-flex;
    padding: 35px;
    font-weight: 900;
    font-family: sans-serif;
    color: #fff;
}

.navbar ul:hover{
    cursor: pointer;
    background: #535353;
    border-radius: 10px;
}

.navbar .bx{
    margin-right: 15px;
}

.tarmoqlar{
    display: none;
    text-decoration: none;
}

.navbar ul:hover .tarmoqlar{
    text-decoration: none;
    display: block;
    position: absolute;
    background: #535353;
    margin-top: 2px;
    margin-left: 965px;
    border-radius: 15px;
}

.navbar ul:hover .tarmoqlar ul{
    display: block;
    text-decoration: none;
}

.navbar ul:hover .tarmoqlar ul li{
    width: 170px;
    text-align: center;
    border-bottom: 1px solid #fff;
    background: transparent;
    text-align: left;
}

.navbar ul:hover .tarmoqlar ul li:last-child{
    border-bottom: none;
}

.navbar ul:hover .tarmoqlar ul li a:hover{
    color: black;
}

.navbar .ikki:hover .tarmoqlar{
    text-decoration: none;
    display: block;
    position: absolute;
    background: #535353;
    margin-top: 2px;
    margin-left: 750px;
    border-radius: 15px;
}

.navbar ul:hover .tarmoqlar ul{
    display: block;
    text-decoration: none;
}

.navbar ul:hover .tarmoqlar ul li{
    width: 170px;
    text-align: center;
    border-bottom: 1px solid #fff;
    background: transparent;
    text-align: left;
}

.navbar ul:hover .tarmoqlar ul li:last-child{
    border-bottom: none;
}

.navbar ul:hover .tarmoqlar ul li a:hover{
    color: black;
}

.bx .bx-right-arrow-alt{
    float: right;
    margin-left: 10px;
}

.tarmoqlar1{ 
    display: none;
}

.bootstrap:hover .tarmoqlar1{
    position: absolute;
    display: block;
    margin-top: -90px;
    margin-left: 185px;
    background: #535353;
    border-radius: 10px;
}
